/*  your css code here. If applicable */
  .code{
               width: 90px;
               height: 90px;
               font-size: 2rem;
               text-align: center;
           }
           .container{
              text-align: center;
                width: 700px;
                height: 400px;
                border: 2px solid black;
           }